.form_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--white--100);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow--100);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--gray-transparent--100);
}
