.controlSidebarComponent {
  height: 100vh;
}

.dock {
  background-color: var(--secondary-dark--100);
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.sidebarArrow {
  width: 24px;
  padding: 16px;
}
.sidebarLogo {
  padding-right: 16px;
  width: 100px;
  height: 64px;
  transition: all 0.3s ease;
}

.SidebarList {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding-right: 16px;
  gap: 16px;
}
.listTitle {
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: var(--secondary-light-transparent--100);
}
.SidebarList li {
  display: flex;
  align-items: center;
}
.SidebarList img {
  width: 24px;
  display: inline-block;
}
.SidebarList span {
  font-weight: 500;
  margin: 0;
  font-size: 12px;
  color: var(--secondary-light--100);
  padding: 10px;
}
.e-sidebar.e-close .sidebarLogo {
  transform: translateX(200px);
  display: none;
}

#sidebar-treeview {
  height: 100%;
}
/***********Override*************/
#main-treeview .e-list-text {
  color: var(--secondary-light-transparent--100) !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* #main-treeview .e-list-item {
  padding-bottom: 20px;
} */

/* hover */

/* selected */
.e-treeview .e-active .e-list-text {
  color: red;
}

#sidebar-treeview {
  background-color: var(--secondary-dark--100);
  overflow-x: hidden;
  scrollbar-width: none;
}
.e-treeview .e-list-item {
  padding-bottom: 20px;
}

.e-treeview .e-list-item.e-active > .e-fullrow {
  padding: 20px;
  height: 40px;
  background-color: transparent !important;
  border: none;
}

/***********Syncfusion*************/

#sidebar-treeview .e-treeview,
#sidebar-treeview .e-treeview .e-ul {
  padding: 0px 8px 0 0;
  margin: 0px;
}

/* icon styles */

.e-sidebar.e-open #main-treeview .e-text-content {
  padding: 0 0 0 24px;
}
.e-sidebar.e-close #main-treeview .e-text-content {
  padding: 0 0 0 20px;
}

.e-sidebar.e-close #main-treeview .e-text-content .e-list-text {
  display: none;
}
#main-treeview ul {
  overflow: inherit;
}
