:root {
  --yellow-primary--100: #fbba00;
  --red-primary--100: #fe2a2a;

  --secondary-dark--100: #292c31;
  --secondary-secondary--100: #2a2d33;
  --secondary-natural--100: #717989;
  --secondary-light--100: #e3e4e7;

  --black--100: #000000;
  --white--100: #ffffff;

  --secondary-light-transparent--100: #e3e4e7;
  --gray-transparent--100: #495057a1;
  --shadow--100: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "iranSans";
  src: url("../public/Iransans/IRANSansWeb_Light.woff2") format("woff2"),
    url("../public/Iransans/IRANSansWeb_Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "iranSans";
  src: url("../public/Iransans/IRANSansWeb.woff2") format("woff2"),
    url("../public/Iransans/IRANSansWeb.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "iranSans";
  src: url("../public/Iransans/IRANSansWeb_Medium.woff") format("woff2"),
    url("../public/Iransans/IRANSansWeb_Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "iranSans";
  src: url("../public/Iransans/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../public/Iransans//IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: 700;
}

/* @import "../node_modules/@syncfusion/ej2/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/material.css"; */

html {
  font-family: "iranSans";
}

html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /* direction: rtl; */
}
